.swiper {
    width: 100%;
    height: 300px;
    background-color: red;
    padding: 10px 10px;
    overflow: hidden;

  }

.swiper-slide{
    background-color: green !important;
    width: 50%;
    height: 50%;
    border: black 1px solid !important;
    margin: 10px 10px 0 0;
}
